brew "chezmoi"

# terminal and preferred font
cask "font-intone-mono-nerd-font"
cask "kitty"
cask "1password"
# Shell support
brew "starship"
brew "fzf"
brew "thefuck"
brew "node" # for ansible lsp/neovim
brew "neovim"
brew "mise"
brew "zsh-syntax-highlighting"
cask "1password-cli"

cask "visual-studio-code"


cask "alt-tab"

brew "ansible"
brew "lazygit"
