tap "homebrew/cask-fonts"

brew "chezmoi"

# terminal and preferred font
cask "font-intone-mono-nerd-font"
cask "kitty"

# Shell support
brew "starship"
brew "fzf"

brew "neovim"
brew "mise"
cask "visual-studio-code"

cask "alt-tab"
