[user]
	name = "Stewart James"
	email = "8992773+sjames-au@users.noreply.github.com"
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEutY2Oj+WjayUcBcY7mWL/15g8RIBSVfvzCgqipxNB3
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	co = checkout
	cob = checkout -b
[gpg]
	format = ssh
