#!/bin/bash

# Always ensure Brewfile.local is present
target="{{ joinPath .chezmoi.homeDir ".Brewfile.local" }}"
if [ ! -f "$target" ]; then
  cat <<EOF > "$target"
# Sample local Brewfile entries
# brew "example-formula"
# cask "example-cask"
EOF

  # Flush file to disk to ensure it's written before use
  sync "$target"
fi

# Generate hash
{{- $brewfileLocal := joinPath .chezmoi.homeDir ".Brewfile.local" }}
{{- if stat $brewfileLocal }}
# .Brewfile.local hash: {{ include $brewfileLocal | sha256sum }}
{{- else }}
# .Brewfile.local does not exist yet - will be created by this script
{{- end }}

# Proceed with Homebrew
# Print a message in green to inform the user
echo -e "\033[1;32mUpdating global Homebrew packages...\033[0m"
brew bundle --global
echo -e "\033[1;32mUpdating local Homebrew packages...\033[0m"
brew bundle --file="{{ joinPath .chezmoi.homeDir ".Brewfile.local" }}"
